{% extends 'base_general.html' %}
{% load static %}

{% block extra_css %}
<style>
  .errorlist li {
    color: red !important;
  }
</style>
{% endblock %}

{% block content %}
  {% include "header.html" %}

 <!-- ==== contact section start ==== -->
 <section class="contact contact-main volunteer pt-120 pb-120">
    <div class="container">
       <div class="row gutter-40">
          <div class="col-12 col-lg-10 offset-xl-1 col-xl-10">
            <div class="contact__form volunteer__form checkout__form" data-aos="fade-up"
                data-aos-duration="1000" data-aos-delay="100">
                <h2>Change Password</h2>
                <form method="post">
                  {% csrf_token %}
                  {{ form.non_field_errors }}
                  <div class="input-single mb-4">
                    <label for="id_old_password"><strong>Old Password</strong></label>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                  </div>
                  <div class="input-single mb-4">
                    <label for="id_new_password1"><strong>New Password</strong></label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                  </div>
                  <div class="input-single mb-4">
                    <label for="id_new_password2"><strong>Confirm New Password</strong></label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                  </div>
                  <button type="submit" class="btn--secondary mt-3" data-text="Update Password"><span>Update Password</span></button>
                </form>
            </div>
          </div>
       </div>
    </div>
 </section>
 <!-- ==== / contact section end ==== -->

{% include "footer.html" %}
{% endblock %}

{% block extra_js %}
<script>
  // Add any extra JavaScript here if needed
</script>
{% endblock %}
